@mixin button-color($background-color, $color: $white) {
  color: $color;
  background-color: $background-color;

  &:active {
    background-color: darken($background-color, 10%);
  }
}

@mixin secondary-button() {
  @include button-color($grey-light, $blue-darker);
  border: rem(1) solid $grey;

  .icon {
    svg {
      fill: $primary-accent;
      stroke: $primary-accent;
    }
  }
}

@mixin tooltip-color($background-color: $blue-darker, $color: $white) {
  background-color: $background-color;
  color: $color;

  &.cmn-tooltip-dir-top:before {
    border-top-color: $background-color;
  }

  &.cmn-tooltip-dir-bottom:before {
    border-bottom-color: $background-color;
  }

  &.cmn-tooltip-dir-left:before {
    border-left-color: $background-color;
  }

  &.cmn-tooltip-dir-right:before {
    border-right-color: $background-color;
  }
}
