@mixin grid-view(
  $number-of-columns,
  $row-margin,
  $col-width,
  $column-margin: null
) {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  > * {
    @if ($column-margin and not $col-width) {
      width: calc(
        (100% - (#{$column-margin} * (#{$number-of-columns} - 1))) /
          #{$number-of-columns}
      );
    }
    @if ($col-width and not $column-margin) {
      margin-right: calc(
        (100% - #{$col-width} * #{$number-of-columns}) /
          (#{$number-of-columns} - 1)
      );
    }

    width: $col-width;
    margin-right: $column-margin;

    &:nth-child(#{$number-of-columns}n) {
      margin-right: 0;
    }

    &:nth-child(n + #{$number-of-columns + 1}) {
      margin-top: $row-margin;
    }
  }
}

@mixin flexible-row($column-margin) {
  display: flex;
  justify-content: space-between;

  > * {
    flex: 1 1 0;
    width: 0;
    margin-right: $column-margin;

    &:last-child {
      margin-right: 0;
    }
  }
}
