@mixin open-sans($type: 'Regular') {
  @if ($type == 'Semibold') {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 600;
  } @else {
    font-family: 'OpenSans-#{$type}', sans-serif;
    font-weight: normal;
  }
  font-style: normal;
  line-height: $line-height-factor;
}

@mixin single-line-ellipsis() {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
}

@mixin multi-line-ellipsis($max-rows: 2) {
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: $max-rows;
  -webkit-box-orient: vertical;
  word-break: break-word;
  white-space: normal;
}
