{
  "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/preset-react", "@emotion/babel-preset-css-prop"],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  },
  "plugins": ["transform-class-properties"]
}
