@import 'src/style/constructors/constructors';

.buttons-page {
  > * {
    margin-bottom: rem(40);
  }

  .buttons {
    @include grid-view(3, rem(50), null, rem(200));
  }

  .shape-buttons {
    display: flex;

    .cmn-button {
      margin-right: rem(20);
    }
  }

  .event-details {
    font-size: $base-font-size * 2;
    color: $white;
  }
}
