@import 'src/style/constructors/constructors';

@mixin button-shadow(
  $blur-primary,
  $spread-primary,
  $blur-secondary,
  $spread-secondary,
  $spread-tertiary,
  $blur-tertiary
) {
  box-shadow: 0 $blur-primary $spread-primary rgba(0, 0, 0, 0.2),
    0 $blur-secondary $spread-secondary rgba(0, 0, 0, 0.12),
    0 $blur-tertiary $spread-tertiary rgba(0, 0, 0, 0.14);
}

.cmn-button {
  @include transition('background-color, box-shadow, color, border-color');
  @include button-shadow(rem(1), rem(3), rem(2), rem(1), rem(1), rem(1));

  cursor: pointer;
  display: block;
  height: $button-height;
  max-width: 100%;
  font-size: rem(18);
  padding: rem(0) rem(26);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: none;
  color: $primary-color;
  fill: $white;
  border: none;
  border-radius: rem(8);
  outline: none;
  touch-action: manipulation;

  .label {
    @include single-line-ellipsis;
    vertical-align: middle;
  }

  &:hover,
  &:focus {
    @include button-shadow(rem(1), rem(5), rem(3), rem(1), rem(2), rem(2));
  }

  &:active {
    box-shadow: none;
  }

  // Themes

  &.primary {
    background-color: $primary-accent;

    &:hover {
      background-color: transparentize($primary-accent, 0.16);
    }

    &:active {
      background-color: darken($primary-accent, 10%);
      filter: brightness(0.92);
    }
  }

  &.secondary {
    background-color: $grey-lighter;
    border: thin solid $grey;

    &:hover,
    &:active {
      border-color: $green;
    }

    &:active {
      background-color: $see-through-green;
    }
  }

  &.negative {
    background-color: $danger;

    &:hover {
      background-color: transparentize($danger, 0.24);
    }

    &:active {
      background-color: $danger;
    }
  }

  // Appearances

  &.regular,
  &.link,
  &.link-small {
    @include open-sans('SemiBold');

    .label {
      width: auto;
    }

    &.with-icon {
      padding-left: $base-unit + rem(40);
      position: relative;

      .icon {
        position: absolute;
        top: 0;
        left: $base-unit;
        height: 100%;
        width: rem(24);
      }
    }
  }

  &.circular,
  &.square {
    width: $button-height;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;

    .icon {
      height: 100%;
      width: rem(16);
    }
  }

  &.circular {
    @include button-shadow(rem(2), rem(4), rem(1), rem(10), rem(4), rem(5));

    border-radius: $button-height/2;

    &:hover,
    &:focus {
      @include button-shadow(rem(3), rem(5), rem(1), rem(18), rem(2), rem(2));
    }

    &:active {
      box-shadow: none;
    }
  }

  &.link,
  &.link-small {
    border: none;
    box-shadow: none;

    &:hover {
      color: transparentize($primary-color, 0.2);
    }

    &:not(.disabled):active {
      color: $primary-color;
    }

    &.disabled {
      background-color: initial;

      &:hover,
      &:active {
        background-color: initial;
      }
    }
  }

  &.link-small {
    padding-left: rem(8);
    padding-right: rem(8);
  }

  &.disabled {
    background-color: $disabled-button;
    border: none;
    box-shadow: none;
    color: transparentize($primary-color, 0.2);

    &:hover,
    &:active {
      background-color: $disabled-button;
      filter: none;
    }

    .label {
      opacity: 0.64;
    }
  }
}
