@import 'src/style/constructors/constructors';

.cmn-button-panel {
  display: flex;
  flex-shrink: 0;
  flex: 1;
  padding-top: rem(5);
  position: relative;

  .button-panel-left-section {
    display: flex;
    justify-content: flex-start;

    button {
      margin-right: rem(20);
    }
  }

  .button-panel-right-section {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: rem(20);
    }
  }
}
