@import 'src/style/constructors/constructors';

.cmn-snackbar-stories {
  padding: rem(12);

  .cmn-snackbar {
    position: static;
  }

  &.interactive {
    padding: rem(24);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .preset {
    padding: rem(12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .preset-title {
      font-size: rem(12);
      margin-bottom: rem(4);
    }
  }
}
