/* stylelint-disable declaration-no-important */
a {
  text-decoration: none !important;
}

/* stylelint-enable */

p {
  color: $primary-color;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include open-sans('light');
  margin: 0;
  padding: 0;
  color: $primary-color;
  display: block;
}

.regular {
  @include open-sans('Regular');
}

.semibold {
  @include open-sans('SemiBold');
  margin-bottom: rem(5);
}

h1 {
  font-size: rem(68);
}

h2 {
  font-size: rem(58);
}

h3 {
  font-size: rem(48);
}

h4 {
  font-size: rem(38);
}

h5 {
  font-size: rem(34);
}

h6 {
  font-size: rem(28);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong {
  @include open-sans('bold');
}
